
# Build

build/
*.obj
*.exe
*.pdb
*.ilk
*.lib

# Editors

## Visual Studio

.vs/

## Vim

*.swp

## Emacs

*~
^#.*#$

# Tools

## RemedyBG
*.rdbg

# Runtime

## Python

__pycache__/

# Misc

!raylib.lib